# ignore hidden files made by Jetbrains
.idea
# ignore installed packages
node_modules
# the dabase folder alone is really big and doesn't owrk when cloned on other computers, so ignore it
db
# don't however, ingore the db.zip. we need to commit that.
# if you end up using .env or .env0db, we need to not inclue those either
.env*